<?xml version="1.0"?>
<config>
	<modules>
		<Tos_Shipping>
			<version>0.1.0</version>
		</Tos_Shipping>
	</modules>
        
	<global>
            <!-- <models>
                    <shipping>
                            <class>Tos_Shipping_Model</class>
                    </shipping>
            </models> -->
	    <events>
		<sales_quote_collect_totals_before>
		    <observers>
		        <tos_shipping>
		            <class>Tos_Shipping_Model_Observer</class>
		            <method>handleCollect</method>
		        </tos_shipping>
		    </observers>
		</sales_quote_collect_totals_before>
	    </events>
	</global>
</config>
